.login-container {
    -fx-background-image: url("/assets/img1.png");
    /*-fx-background-size: cover;*/
    /*-fx-background-position: center;*/
    -fx-background-repeat: no-repeat;
}
.login-input {
    -fx-background-color: #ffffff;
    -fx-background-radius: 5px;
    -fx-border-color: #cccccc;
    -fx-border-width: 1px;
    -fx-padding: 10px;
    -fx-font-size: 14px;
}
.login-button {
    -fx-background-color: #007acc;
    -fx-background-radius: 5px;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 10px 20px;
}

#backButton {
    -fx-background-color: transparent; /* 透明背景 */
    -fx-border-color: transparent; /* 透明边框 */
    -fx-text-fill: #007bff; /* 蓝色文本 */
    -fx-padding: 5px; /* 内边距 */
    -fx-cursor: hand; /* 鼠标悬停时的光标样式 */
}

.login-button:hover {
    -fx-background-color: #005fa3;
}
.forget-password {
    -fx-font-size: 12px;
    -fx-text-fill: #007acc;
}
.forget-password:hover {
    -fx-text-fill: #005fa3;
    -fx-underline: true;
}
/* 注册按钮样式 */
.login-button {
    -fx-background-color: #007bff; /* 蓝色背景 */
    -fx-text-fill: white; /* 白色文本 */
    -fx-border-color: #007bff; /* 蓝色边框 */
    -fx-border-width: 1px; /* 边框宽度 */
    -fx-border-style: solid; /* 边框样式 */
    -fx-padding: 5px; /* 内边距 */
    -fx-cursor: hand; /* 鼠标悬停时的光标样式 */
}

/* 返回按钮样式 */
.back-button {
    -fx-background-color: transparent; /* 透明背景 */
    -fx-border-color: transparent; /* 透明边框 */
    -fx-text-fill: #007bff; /* 蓝色文本 */
    -fx-padding: 5px; /* 内边距 */
    -fx-cursor: hand; /* 鼠标悬停时的光标样式 */
}
.menu-item {
    -fx-padding: 8px 8px;
    -fx-border-color: #838181;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
    -fx-pref-width: 130px;
}
.image-view:hover {
    -fx-border-style: solid;
    -fx-border-color: #007bff;
    -fx-border-width: 2px;
    -fx-cursor: hand;
}
.grid-icon {
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: cover;
    -fx-pref-width: 60px;
    -fx-pref-height: 60px;
}
